In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#creating a dataframe
#according to pandas to create random numbers use 'rand' as we are passing in pandas 
df = pd.DataFrame(np.random.rand(10,4),columns = ['A','B','C','D'])
print(df)

          A         B         C         D
0  0.824609  0.696742  0.766980  0.449629
1  0.180948  0.429490  0.442954  0.211393
2  0.961779  0.465490  0.780605  0.861540
3  0.425687  0.176381  0.785481  0.110585
4  0.899314  0.934698  0.653187  0.646071
5  0.899640  0.607753  0.451827  0.432644
6  0.717025  0.563917  0.943835  0.002815
7  0.349597  0.473245  0.601953  0.075131
8  0.869156  0.182571  0.209137  0.460543
9  0.615755  0.723924  0.427623  0.451886

In [3]:
#creating a dtatframe with dictionary
df2 = pd.DataFrame({'A' : [10,20], 'B' : [20,100],'C' : [30,40],'D' : [40,50]})
print(df2)

    A    B   C   D
0  10   20  30  40
1  20  100  40  50

In [4]:
#looking at variable types
df2.dtypes

A    int64
B    int64
C    int64
D    int64
dtype: object

In [5]:
#looking at the top few values, default 5
df.head()

          A         B         C         D
0  0.824609  0.696742  0.766980  0.449629
1  0.180948  0.429490  0.442954  0.211393
2  0.961779  0.465490  0.780605  0.861540
3  0.425687  0.176381  0.785481  0.110585
4  0.899314  0.934698  0.653187  0.646071

In [6]:
#looking at the last few values, default 5
df.tail()

          A         B         C         D
5  0.899640  0.607753  0.451827  0.432644
6  0.717025  0.563917  0.943835  0.002815
7  0.349597  0.473245  0.601953  0.075131
8  0.869156  0.182571  0.209137  0.460543
9  0.615755  0.723924  0.427623  0.451886

In [7]:
#to get indess
df.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
#to get columns
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
#to get the values
df.values

array([[0.82460931, 0.69674246, 0.7669802 , 0.44962887],
       [0.18094807, 0.42949045, 0.44295392, 0.2113926 ],
       [0.96177894, 0.46549023, 0.78060516, 0.86154008],
       [0.4256871 , 0.17638098, 0.78548136, 0.11058464],
       [0.89931355, 0.93469782, 0.65318746, 0.64607147],
       [0.89964028, 0.60775301, 0.45182675, 0.43264409],
       [0.71702452, 0.56391708, 0.94383492, 0.00281505],
       [0.34959678, 0.47324503, 0.60195283, 0.07513135],
       [0.86915619, 0.18257073, 0.20913664, 0.46054334],
       [0.61575505, 0.7239241 , 0.42762301, 0.45188588]])

In [10]:
#to get quick statistics about data
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.674351   0.525421   0.606358   0.370224
std     0.270905   0.235564   0.222277   0.270230
min     0.180948   0.176381   0.209137   0.002815
25%     0.473204   0.438490   0.445172   0.135787
50%     0.770817   0.518581   0.627570   0.441136
75%     0.891774   0.674495   0.777199   0.458379
max     0.961779   0.934698   0.943835   0.861540

In [11]:
#for sorting_index the index
# axis=0 means rows and axis=1 means columns
df.sort_index(axis=0, ascending=False)

          A         B         C         D
9  0.615755  0.723924  0.427623  0.451886
8  0.869156  0.182571  0.209137  0.460543
7  0.349597  0.473245  0.601953  0.075131
6  0.717025  0.563917  0.943835  0.002815
5  0.899640  0.607753  0.451827  0.432644
4  0.899314  0.934698  0.653187  0.646071
3  0.425687  0.176381  0.785481  0.110585
2  0.961779  0.465490  0.780605  0.861540
1  0.180948  0.429490  0.442954  0.211393
0  0.824609  0.696742  0.766980  0.449629

In [12]:
#for sorting by a column
df.sort_values(by='A')

          A         B         C         D
1  0.180948  0.429490  0.442954  0.211393
7  0.349597  0.473245  0.601953  0.075131
3  0.425687  0.176381  0.785481  0.110585
9  0.615755  0.723924  0.427623  0.451886
6  0.717025  0.563917  0.943835  0.002815
0  0.824609  0.696742  0.766980  0.449629
8  0.869156  0.182571  0.209137  0.460543
4  0.899314  0.934698  0.653187  0.646071
5  0.899640  0.607753  0.451827  0.432644
2  0.961779  0.465490  0.780605  0.861540

In [13]:
#Selecting values
df['A']

0    0.824609
1    0.180948
2    0.961779
3    0.425687
4    0.899314
5    0.899640
6    0.717025
7    0.349597
8    0.869156
9    0.615755
Name: A, dtype: float64

In [14]:
#selecting range of rows
df[0:2]

          A         B         C         D
0  0.824609  0.696742  0.766980  0.449629
1  0.180948  0.429490  0.442954  0.211393

In [15]:
#selecting a particular row
df.loc[0]

A    0.824609
B    0.696742
C    0.766980
D    0.449629
Name: 0, dtype: float64

In [16]:
#selecting a row and column
df.loc[0,['A']]

A    0.824609
Name: 0, dtype: float64

In [17]:
df.loc[:,['A']]

          A
0  0.824609
1  0.180948
2  0.961779
3  0.425687
4  0.899314
5  0.899640
6  0.717025
7  0.349597
8  0.869156
9  0.615755

In [18]:
#using at instead for faster access, can not be used for a range
df.at[0,'A']

0.8246093138749087

In [19]:
#selecting by position
df.iloc[0]

A    0.824609
B    0.696742
C    0.766980
D    0.449629
Name: 0, dtype: float64

In [20]:
#selecting by condition
df[df.A>0]

          A         B         C         D
0  0.824609  0.696742  0.766980  0.449629
1  0.180948  0.429490  0.442954  0.211393
2  0.961779  0.465490  0.780605  0.861540
3  0.425687  0.176381  0.785481  0.110585
4  0.899314  0.934698  0.653187  0.646071
5  0.899640  0.607753  0.451827  0.432644
6  0.717025  0.563917  0.943835  0.002815
7  0.349597  0.473245  0.601953  0.075131
8  0.869156  0.182571  0.209137  0.460543
9  0.615755  0.723924  0.427623  0.451886

In [21]:
#missing data
df2 = df[df<.5]
print(df2)

          A         B         C         D
0       NaN       NaN       NaN  0.449629
1  0.180948  0.429490  0.442954  0.211393
2       NaN  0.465490       NaN       NaN
3  0.425687  0.176381       NaN  0.110585
4       NaN       NaN       NaN       NaN
5       NaN       NaN  0.451827  0.432644
6       NaN       NaN       NaN  0.002815
7  0.349597  0.473245       NaN  0.075131
8       NaN  0.182571  0.209137  0.460543
9       NaN       NaN  0.427623  0.451886

In [22]:
#drop all rows which have NaN
df2.dropna()

          A        B         C         D
1  0.180948  0.42949  0.442954  0.211393

In [23]:
#replace NaN with other values
df2.fillna(value=1)

          A         B         C         D
0  1.000000  1.000000  1.000000  0.449629
1  0.180948  0.429490  0.442954  0.211393
2  1.000000  0.465490  1.000000  1.000000
3  0.425687  0.176381  1.000000  0.110585
4  1.000000  1.000000  1.000000  1.000000
5  1.000000  1.000000  0.451827  0.432644
6  1.000000  1.000000  1.000000  0.002815
7  0.349597  0.473245  1.000000  0.075131
8  1.000000  0.182571  0.209137  0.460543
9  1.000000  1.000000  0.427623  0.451886

In [24]:
#statistical operation
#taking mean
df.mean()

A    0.674351
B    0.525421
C    0.606358
D    0.370224
dtype: float64

In [25]:
#mean in other axis
df.mean(1)

0    0.684490
1    0.316196
2    0.767354
3    0.374534
4    0.783318
5    0.597966
6    0.556898
7    0.374981
8    0.430352
9    0.554797
dtype: float64

In [27]:
# read_csv and to_csv functions are used to read csv data and write to csv respectively
#  data = pd.read_csv("path.csv")