In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('C:\\Users\\happy\\Winter Training\\BalanceScale.csv')

In [4]:
df.head()

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [13]:
df_x = df.iloc[:, 1:5]
df_y = df.iloc[:,0]
df_x

     1  1.1  1.2  1.3
0    1    1    1    2
1    1    1    1    3
2    1    1    1    4
3    1    1    1    5
4    1    1    2    1
5    1    1    2    2
6    1    1    2    3
7    1    1    2    4
8    1    1    2    5
9    1    1    3    1
10   1    1    3    2
11   1    1    3    3
12   1    1    3    4
13   1    1    3    5
14   1    1    4    1
15   1    1    4    2
16   1    1    4    3
17   1    1    4    4
18   1    1    4    5
19   1    1    5    1
20   1    1    5    2
21   1    1    5    3
22   1    1    5    4
23   1    1    5    5
24   1    2    1    1
25   1    2    1    2
26   1    2    1    3
27   1    2    1    4
28   1    2    1    5
29   1    2    2    1
..  ..  ...  ...  ...
594  5    4    5    1
595  5    4    5    2
596  5    4    5    3
597  5    4    5    4
598  5    4    5    5
599  5    5    1    1
600  5    5    1    2
601  5    5    1    3
602  5    5    1    4
603  5    5    1    5
604  5    5    2    1
605  5    5    2    2
606  5    5    2    3
607  5    5    2    4
608  5    5    2    5
609  5    5    3    1
610  5    5    3    2
611  5    5    3    3
612  5    5    3    4
613  5    5    3    5
614  5    5    4    1
615  5    5    4    2
616  5    5    4    3
617  5    5    4    4
618  5    5    4    5
619  5    5    5    1
620  5    5    5    2
621  5    5    5    3
622  5    5    5    4
623  5    5    5    5

[624 rows x 4 columns]

In [14]:
df_y

0      R
1      R
2      R
3      R
4      R
5      R
6      R
7      R
8      R
9      R
10     R
11     R
12     R
13     R
14     R
15     R
16     R
17     R
18     R
19     R
20     R
21     R
22     R
23     R
24     L
25     B
26     R
27     R
28     R
29     B
      ..
594    L
595    L
596    L
597    B
598    R
599    L
600    L
601    L
602    L
603    L
604    L
605    L
606    L
607    L
608    L
609    L
610    L
611    L
612    L
613    L
614    L
615    L
616    L
617    L
618    L
619    L
620    L
621    L
622    L
623    B
Name: B, Length: 624, dtype: object

In [6]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.2, random_state = 4)

In [7]:
clf = DecisionTreeClassifier(criterion = 'entropy', random_state = 100, min_samples_leaf = 5)

In [8]:
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [9]:
pred = clf.predict(x_test)

In [10]:
#while taing constant values
pred_val = clf.predict([[5,8,9,5]])

In [11]:
pred

array(['R', 'R', 'R', 'L', 'R', 'L', 'R', 'R', 'R', 'B', 'R', 'R', 'R',
       'R', 'L', 'L', 'R', 'B', 'L', 'L', 'R', 'R', 'L', 'B', 'B', 'R',
       'L', 'L', 'L', 'B', 'B', 'L', 'R', 'L', 'R', 'R', 'R', 'L', 'L',
       'L', 'R', 'L', 'R', 'R', 'L', 'R', 'L', 'L', 'R', 'L', 'R', 'L',
       'L', 'L', 'B', 'R', 'R', 'R', 'L', 'L', 'L', 'L', 'L', 'L', 'L',
       'R', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'L', 'L', 'R', 'L', 'L',
       'B', 'L', 'L', 'R', 'L', 'L', 'L', 'R', 'R', 'L', 'R', 'R', 'R',
       'L', 'R', 'R', 'L', 'R', 'R', 'L', 'R', 'R', 'L', 'L', 'R', 'R',
       'R', 'L', 'R', 'L', 'L', 'R', 'R', 'B', 'R', 'R', 'L', 'R', 'R',
       'L', 'R', 'R', 'L', 'L', 'L', 'R', 'B'], dtype=object)

In [12]:
accuracy_score(y_test, pred)

0.816